<!DOCTYPE html>

<html>

   <head>
      <title>Request Header Parser</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <header>
          <h2>Request Header Parser Microservice</h2>

          <p>
            This is my project of the <a href="https://www.freecodecamp.org/learn/apis-and-microservices/apis-and-microservices-projects/request-header-parser-microservice" target="_blank"> 
            Request Header Parser challenge </a> for the freeCodeCamp API and Microservice certification. 
            It was built based on the boilerplate available <a href="https://github.com/freeCodeCamp/boilerplate-project-headerparser/" target="_blank">here</a>.
          </p>

        </header>

        <section>

          <h3>Example Usage:</h3>
          <code>/api/whoami</code>

          <h3>Example Output:</h3>
          <code>{"ipaddress":"::ffff:159.20.14.100","language":"en-US,en;q=0.5",<br>"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>

        </section>

        <footer>
          <p>
            By <a href="https://www.github.com/andradeoromulo" target="_blank">Rômulo Andrade</a> for <a href="https://www.freecodecamp.org/" target="_blank">freeCodeCamp</a> certification.
          </p>
        </footer>

      </div>
   </body>


</html>
